@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .todo-completed {
    text-decoration: line-through;
    opacity: 0.7;
  }

  .opacity-7 {
    opacity: 1;
  }

  .opacity-7::hover {
    opacity: 0.7;
  }

  .svg-input-before {
    padding: 16px 16px 16px 45px;
    background: transparent url("./assets/images/arrow_down_icon.svg") no-repeat 10px center;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  background-color: #f5f5f5;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
